<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Trainging Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    
    <!-- App css -->
    <link href="~\content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~\content/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~\content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~\content/css/Site.css" rel="stylesheet" type="text/css" />

    @*<script src="~\content/js/modernizr.min.js"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
<header id="topnav">
    <div class="topbar-main">
        <div id="mainContainer" class="container">

            @*<div class="logo">
                <a href="\" class="logo">
                    <img src="~\content/images/logo_white_small.png" alt="" height="25" >
                </a>
            </div>*@

            <div class="navbar-custom">
                <div class="container">
                    <div id="navigation">
                        <ul id="topMenu" class="navigation-menu">
                            <li>@Html.ActionLink("My Trainees", "Index", "Trainee")</li>
                            <li>@Html.ActionLink("My Bookings", "Index", "Booking")</li>
                            <li>@Html.ActionLink("Upcoming Tournaments", "Index", "Tournaments")</li>
                            <li id="bigLogoItem" class="float-right">
                                <a href="\" class="logoBig">
                                    <img src="~\content/images/logo.png" alt="" height="60" >
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="menu-extras topbar-custom">
                <ul class="list-inline float-right mb-0">
                    <li class="menu-item list-inline-item">
                        <a class="navbar-toggle nav-link">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</header>
    
<div id="wrapper">
    <div class="container">
        @RenderBody()
    </div>
</div>


<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/tether.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/metisMenu.min.js"></script>
<script src="~/Content/js/waves.js"></script>
<script src="~/Content/js/jquery.slimscroll.js"></script>

<!-- App js -->
<script src="~/Content/js/jquery.core.js"></script>
<script src="~/Content/js/jquery.app.js"></script>
    
@RenderSection("scripts", required: false)
</body>
</html>
